*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
 .main{
    width:100%;
    background-color: #0a0c0d;
 }
 .navbar {

display: flex;
justify-content:space-between;
font-size:25px;
width:100%;
height:80px;
background-color: #1b1b1b;
align-items: center;
color: aliceblue;
 }
 .nav_links{
    display: flex;
    gap: 20px;
    margin-right: 20%;
    list-style: none;
    padding-right:3px;

 }
  .nav_links a{
    color: #fff;
    text-decoration: none;
    }
    .navbar .logo span{
    color: red;
}
.navbar .nav_links a::after{
    content: '';
    display: block;
    width: 0;
    height: 10px;
    background-color:rgb(228, 27, 27);
    transition: width 0.3s ease;
       
}

.navbar .nav_links a:hover{
    color: rgba(140, 29, 157, 0.588);
}

.navbar .nav_links a:hover::after{
    width: 100%;
}

.content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-left: 10%;


}
.info{
    text-align: center;
}

.info h1{
    font-size: 50px;
    color: #cbb7b7;
}

.info span{
    color: red;
}

.info #content{
    font-size: 30px;
    line-height: 1.6;
    color: rgb(212, 132, 28);
}
.social-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 40%;
}

.social-section a{
     width: 60px;
    height: 60px;
    background-color: rgb(12, 5, 5);
    color: #7d7777;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid red;
    font-size: 30px;
    transition: all 0.3s ease;

    
}

.social-section a:hover{
    color:rgb(247, 244, 244);
    }
    .btn{
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius:50% ;
    transition: 0.3s;
}
.btn:hover{
    background-color: darkred;
}
/* ........................  about me................................... */
.about{
    width: 100%;
    height:auto;
    padding: 100px 0px;
    background-color: #0a0c0d;
}
.about img{
    height: auto;
    width: 400px;
    border-radius: 10%;
    box-shadow: 2px 38px 20px 2px #0a0c0d;
    border-width: 2px solid rgb(113, 42, 42);
}
.about-text{
    width: 400px;
    margin-right: 10%;
}
.self{
    width:1130px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5px ;

}
.about-text h2{
    color: azure;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 40px;
    margin-right: 20px;
} 
.about-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size:26px;
    margin-bottom: 25px;
    text-overflow:capitalize;
}  
.about-text #self{
    color: #fcfc;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;

}
.about-text #but{
    width: 50%;
    height: 40px;
    background-color: #a30f0f;
    color: #060505;
    font-size: 14px;
    margin-left: 20%;
    cursor: pointer;
    border: 2px solid transparent;
    font-weight: bold   ;
    transition: .4s;
    border-radius: 16px;
}
.about-text #but:hover{
    background-color:transparent;
    border: 2px solid  #a30f0f;
}
.btnn{
  display: inline-block;
    margin-top: 25px;
  
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}


}
/* ............ service....... */
.service{
    width: 100%;
    padding:100px 0px;
    background-color:  #0a0c0d;
    background:linear-gradient(-45deg, #010517,#0b0b0b,#cbb7b7,#a30f0f,rgb(0, 204, 255));
    
}
.service-text{
    width: 700px;
    margin-left: 40%;

}
.service-text #servic{
    color: #e92828;
    font-size: 76px;
    text-decoration:solid;
    margin-bottom: 10%;
}
.service-text #servic-p {
    color: #fff;
    font-size: 22px;
    letter-spacing: 2px;
    margin-left:-32% ;
}
/* ............. project............................. */
.project{
    width: 100%;
    background-color: #060505;
    padding: 100px 0px;
    height: ;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.projects {
  padding: 80px 0;
  background-color: #2e0707;
  width: 100%;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project-card img {
  width: 100%;
  display: block;
}

.project-content {
  padding: 20px;
}

.project-content h3 {
  margin-bottom: 15px;
}

.project-content p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}



@media (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.tech-icons {
  margin-bottom: 20px;
}

.tech-icons i {
  font-size: 22px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.tech-icons .html {
  color: #e34c26;
}

.tech-icons .css {
  color: #264de4;
}

.tech-icons .js {
  color: #f0db4f;
}

.tech-icons i:hover {
  transform: scale(1.2);

 ............................footer.............................. */

}
.foo{
    width: 100%;
    background-color: #111; 
    color: #fff;
    padding: 60px 0 20px;
}

.footer-content {
  text-align: center;
}

.footer-content h2 {
  margin-bottom: 30px;
  font-size: 28px;
}


.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.contact-item i {
  color: #007bff;
  font-size: 18px;
}


.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 20px;
}

